.img {
  align-items: center;
  height: 100px;
  width: 50px;
}
.h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: aliceblue;
  text-align: center;
  font-size: medium;
}

.navbar   ul {list-style-type: none;
  background-color: white;
   padding: 0px;
    margin-left: 15px;
margin-right: 15px;
     overflow:hidden;
  display: inline-block;
    line height: 100px;
     font-family: "Playfair Display", serif;
      font-weight: 500;
    font-size: 25px;}
.navbar a {
  color: white;
  float: left;
  text-decoration: none;
  padding: 15px;
  text-align: center;
  display: block;
}
.navbar a:hover {
  background-color: antiquewhite;
}
.navbar li {
  margin-bottom: 60px;
}

@media (max-width: 1050px) {
}
@media (min-width: 600px);
